.bg.indigo
  h1 Welcome
  
  .domain.white.indigo-text.z-depth-1 adamjcosta.com

.container.white.z-depth-1.anim-0
  .row
    .col.s12
      h2.center Loading...
      .construction-img.circle.yellow.darken-1.c-img
        .anim-icon
          i.material-icons.build.grey-text.text-darken-4 build
      h5.center coming soon!